/bin/
/release/
/include/client/tex/
/src/client/tex/
/include/client/font/
/src/client/font/
/tex/font/
/tex/var/
/tex/img/
/tex/dds_raw/
/tex/dds_bc1/
/tex/dds/
.sconsign.dblite
config.log
.sconf_temp
